* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 100vh;
}

.board {
    /* background-color: rgb(255, 99, 71); */
    display: block;
    border: 10px solid rgb(0, 0, 0);
    width: 75vw;
    height: 75vh;
}


.row {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: calc(100% / 8);    
}

.squares {
    width: calc(100% / 8);
    height: 100%; 
}

.row .squares:nth-child(even), .row.reverse .squares:nth-child(odd) {
    background-color: rgb(99, 59, 6);
}


.row .squares:nth-child(odd), .row.reverse .squares:nth-child(even) {
    background-color: beige;
}
